@charset "utf-8";

/*********** contents 공통 ***********/
/* common */
.noterms {padding:120px 0 0 0; text-align:center; font-size:18px; color:#cfcfcf; background:url('../images/terms/noterms.png') center center no-repeat;}
.under_txt {display:inline-block; font-size:16px; font-weight:500; color:#222222; border-bottom:2px solid #222222; padding-bottom:1px;}
.ellipsis {width:calc(100% - 1px); white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.desc {font-size:14px; line-height:22px; color:#666666;  margin-top:8px; letter-spacing: -.8px;}
.desc_02 {font-size:12px; line-height:20px; color:#666;}

/* hr */
.hr_01 {height:2px; border:0; background:#222; margin:20px 0;}

/* button */
button {cursor:pointer;}
.btn {display:inline-block; border:0; border-radius:50px; letter-spacing:-.8px; text-align:center;}
.btn:active {text-shadow: 0px 0px 1px rgba(255, 255, 255, .5);}
.btn.black {background:#000; color:#fff;}
.btn.gray {background:#aaaaaa; color:#fff;}
.btn.white {background:#fff; color:#666; border:solid 1px #aaa}
.btn.default {height:40px; line-height:40px; padding:0 24px; font-size:16px;}
.btn.xlarge {min-width:180px; height:60px; line-height:60px; padding:0 36px; font-size:16px;}
.btn.large {min-width:130px; height:52px; line-height:52px; padding:0 36px; font-size:16px;}
.btn.small {min-width:50px; height:32px; line-height:32px; padding:0 16px; font-size:13px;}
.btn_sch {display:inline-block; width:24px; height:24px;background:url('../images/common/ic_search.png') no-repeat 0 0; text-indent:-9999px; overflow:hidden;}
.btn_view {display:inline-block; width:24px; height:24px;background:url('../images/common/ic_view.png') no-repeat 0 0; text-indent:-9999px; overflow:hidden;}
.btn_accordion {display:inline-block; width:24px; height:24px; background:url('../images/common/ic_accordion.png') no-repeat; text-indent:-9999px; overflow:hidden; transition:all .5s;}
.btn_edit {display:inline-block; width:24px; height:24px; background:url('../images/common/ic_edit_s.png') no-repeat; text-indent:-9999px; overflow:hidden;}
.btn_del {display:inline-block; width:20px; height:20px; background:url('../images/terms/ic_delete.png') no-repeat; text-indent:-9999px; overflow:hidden; border:none;}
.btn_tadd {display:inline-block; width:40px; height:40px;background:url('../images/common/ic_tadd.png') no-repeat 0 0; text-indent:-9999px; overflow:hidden; border:none;}
.icon {display:inline-block; width:24px; height:24px; margin-top:-2px; margin-right:8px; vertical-align: middle; text-indent:-9999px; overflow:hidden;}
.icon.edit {background:url('../images/common/ic_edit.png') no-repeat 0 0;}
.icon.iorder {background:url('../images/common/ic_order.png') no-repeat; width:20px; height:20px; margin-right:0;}
.icon.icview {width:16px; height:16px; background:url('../images/common/ic_play.png') no-repeat;}
.icon.more {background:url('../images/common/ic_more.png') no-repeat; margin:-4px 0 0 0;}
.mark_lang {display:inline-block; font-size:13px; line-height:18px; color:#666666; height:22px; padding:2px 6px; border:1px solid #666666; border-radius:5px;}
.btn.w148 {min-width:148px}

/* 버튼정렬 */
.btn_wrap {text-align:center; margin-top:80px;}
.btn_wrap .btn + .btn {margin-left:12px;}
.btn_w148 .btn {min-width:148px;}

/* input */
/* input sorting */
.sorting label {display:inline-block; margin-right:15px; font-size:16px; letter-spacing:-.8px; color:#222; vertical-align:top;}
.sorting.check label {padding-left:35px; position:relative;}
.sorting.check label input[type="checkbox"] {visibility:hidden; width:0;}
.sorting.check label span::after {content:''; display:inline-block; width:24px; height:24px; background:#fff url('../images/common/ic_checkoff.png') no-repeat 0 0; position:absolute; top:0; left:0; vertical-align:middle;}
.sorting.check label input:checked + span::after {background:#fff url('../images/common/ic_checkon.png') no-repeat 0 0}

/* 라디오 */
.radiobox {display:inline-block; border:1px solid #cfcfcf; border-radius:5px; overflow:hidden;}
.radiobox::after {display:block; content:''; clear:both;}
.radiobox label {display:block; float:left;}
.radiobox label span {display:block; font-size:13px; line-height:21px; padding:5px 14px;}
.radiobox label input[type="radio"] {display:none;}
.radiobox label input[type="radio"]:checked + span {background:#000000; color:#ffffff;} 
.radiobox label input[type="radio"] + span {color:#bfbfbf;} 

/* 컬러피커 */
.input.txt {}
.input.txt .minicolors {position:static; width:100%;}
.input.txt .minicolors-theme-default .minicolors-input {padding-left:0; font-size:14px; color:#222222; width:100%; height:auto;}
.input.txt .minicolors .minicolors-swatch {width:24px; height:24px; top:11px; left:auto; right:16px;}
.input.txt .minicolors-panel .minicolors-sprite {background-image:url('../images/common/jquery.minicolors.png');}
.input.txt .minicolors-position-bottom .minicolors-panel {top:48px; right:0;}

/* select 박스 */
.select_form {display:block; height:24px;}
.select_form select {display:block; font-size:16px; line-height:24px; background:url('../images/common/ic_sorting_L.png') right center no-repeat; padding-right:28px;}
select.sel_de {display:block; width:100%; font-size:16px; line-height:24px; background:url('../images/common/ic_sorting_L.png') 98% center no-repeat; padding:0 28px 0 16px; font:initial; font-size:14px;}

/* switch button */
.switch_btn {display:inline-block; vertical-align:middle;}
.switch_btn label {display:inline-block; width:48px; height:24px; background:#bfbfbf; border-radius:30px; position:relative; top:2px}
.switch_btn label.on {background:#1b6491;}
.switch_btn label input[type="checkbox"] {visibility:hidden;}
.switch_btn label span::after {content:'on'; display:inline-block; width:20px; height:20px; background:#fff; border-radius:30px; text-indent:-9999px; overflow:hidden; position:absolute; top:2px; left:2px; vertical-align:middle; transition:all .5s;}
.switch_btn label input:checked + span::after {content:'off'; left:inherit; left:calc(100% - 22px);}

/* search */
.search {width:340px; height:48px; padding:0 50px 0 16px; border:solid 1px #cfcfcf; border-radius:4px; position:relative;}
.search input[type="text"] {width:100%; height:100%; line-height:46px; }
.search .btn_sch {position:absolute; top:calc(50% - 12px); right:16px;}

/* 상태표시 */
.state {display:inline-block; min-width:76px; height:32px; padding:6px 12px; border-radius:5px; font-size:13px; font-weight:normal; text-align:center;}
* + .state { margin-left:12px;}
.state.before {background:#f1f1f1; color:#bfbfbf;}
.state.ready {border:1px solid #1485cb; color:#1485cb; background:#ffffff;}
.state.compl {border:1px solid #222222; color:#222222;}
.distri {position:absolute; right:0;}

/* device 이미지 */
.device li {display:inline-block; margin:0 8px; vertical-align:middle;}
.device li .ic {display:inline-block; width:32px; height:32px; text-indent:-9999px; overflow:hidden; vertical-align:middle;}
.device li .ic_web {background:url('../images/common/ic_web.png') no-repeat center center;}
.device li .ic_ios {background:url('../images/common/ic_ios.png') no-repeat center center;}
.device li .ic_and {background:url('../images/common/ic_android.png') no-repeat center center;}
.device li .ic_web_bk {background:url('../images/common/ic_web_bk.png') no-repeat center center;}
.device li .ic_ios_bk {background:url('../images/common/ic_ios_bk.png') no-repeat center center;}
.device li .ic_and_bk {background:url('../images/common/ic_android_bk.png') no-repeat center center;} 

/* 움직이는 리스트 */
.moving_wrap {padding-bottom:24px; border-bottom:1px solid #cfcfcf;}
.moving_wrap li {padding:10px 0;}
.moving_part {display:inline-block;}
.moving_part span {display:inline-block; vertical-align:middle; font-size:16px; line-height:24px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; max-width:280px;}
.moving_part button.btn_del {background:url('../images/common/ic_delete_gray.png') no-repeat; margin-left:4px; vertical-align:middle;}

/* page */
.page_tit {margin-bottom:60px; position:relative;}
.page_tit h2 {display:inline-block; margin-right:15px; font-size:36px; font-weight:600; letter-spacing:-1.8px; vertical-align:middle;}
.page_tit .tit_right {position:absolute; top:0; right:0;}
.page_contents {padding-bottom:80px;}
.page_contents .h3_wrap {padding-bottom:16px; margin-top:80px; margin-bottom:32px; border-bottom:solid 2px #222; position:relative;}
.page_contents .h3_wrap:first-of-type {margin-top:0;}
.page_contents .h3_wrap h3 {display:inline-block; margin-right:12px; font-size:24px; font-weight:600; color:#222; vertical-align:middle;}
.page_contents .h3_wrap .search {position:absolute; bottom:16px; right:0;}
.page_contents .h3_wrap span {display:inline-block; vertical-align:middle;}
.page_contents .h3_wrap .optxt {display:inline-block; font-size:18px; font-weight:600;}
.page_contents .text_area p {margin-top:28px; margin-bottom: 20px; color:#222;}
.page_contents .text_area p:first-child {margin-top:0;}
.onlycont .page_tit h2 {display:block; text-align: center;}

/* board */
.board .optiongroup {min-height:48px;}
.board .optiongroup::after {content:''; display:block; clear:both;}
.board .optiongroup .sorting {float:left;transform: translateY(50%);}
.board .optiongroup .select_form {margin-left:20px;}
.board .optiongroup .search {float:right;}
.board .optiongroup + table {margin-top:30px;}

.board table {width:100%; border-top:solid 2px #000; table-layout:fixed;}
.board table thead th {height:76px; padding:16px; border-bottom:solid 1px #000; font-size:16px; font-weight:600; text-align:left;}
.board table thead th span  {display:inline-block; word-break: keep-all; vertical-align:middle;}
.board table thead th p span { max-width:calc(100% - 30px); }
.board table thead th p .btn_sort {display:inline-block; width:16px; height:16px; margin-left:5px; background:url('../images/common/ic_sorting.png') no-repeat center center; text-indent:-9999px; overflow:hidden; vertical-align:middle;}
.board table tbody td {height:76px; padding:16px; border-bottom:solid 1px #cfcfcf; font-size:14px; color:#222; word-break:break-word; font-family:'NotoSansKR','돋움','Tahoma','Arial',sans-serif;}
.board table tbody td a {font-family:'Roboto', 'NotoSansKR','돋움','Tahoma','Arial',sans-serif;}
.board table tbody td.empty {padding:50px 0; border:0;}
.board .paging {margin-top:48px; text-align:center;}
.board .paging a  {display:inline-block; vertical-align:middle; font-family:'Roboto' !important;}
.board .paging span {display:inline-block; margin:0 18px;}
.board .paging span a {min-width:28px; height:28px; line-height:30px; margin:0 2px; border-radius:30px; font-size:14px; text-align: center; color:#b4b4b4;}
.board .paging a.on {background:#000;color:#fff;}
.board .paging a.btn_arr {width:20px; height:20px;background:url('../images/common/ic_arrow.png') no-repeat center center; text-indent:-9999px; overflow:hidden;}
.board .paging a.next {transform: rotate(180deg);}
.board .list_more {padding:60px 0 16px; background:url('../images/common/ic_eee.png') no-repeat center 20px; border-top:solid 1px #cfcfcf; text-align:center;}

.inbox.board {padding:0 32px 16px; background:#ffffff; border-radius:8px; box-shadow:2px 2px 8px 0 rgba(0, 0, 0, 0.15)}
.inbox.board table {border-top:0;}
.inbox.board table tbody td {height:60px;}
.inbox.board table tbody :last-child td {border:0;}

/* 사용자 동의 내역 */
.board table.board_tbl tbody tr.on > td {border-bottom:0;}
.board table.board_tbl tbody tr.on td .btn_accordion {transform:rotate(180deg);}
.board table.board_tbl tbody tr.alist_tit.on td {font-weight:600;}
.board table.board_tbl tbody tr.alist_contents {display:none;}
.board table.board_tbl tbody tr.alist_contents.on {display:table-row;}

/* 더보기 */
.board_more {display:block; text-align:center; margin-top:60px;}
.board_more a {display:inline-block; font-size:16px; font-weight:500;}

.page_contents .h3_wrap + .board {margin-top:-34px}
.page_contents .h3_wrap + .board .optiongroup {padding-top:30px}

@media screen and (max-width: 1420px) {
    .board .optiongroup .search {width:250px;}
}

/* table_row01 */
.table_row01 {margin-bottom:40px;}

/* content_tbl */
.content_tbl {width:100%;}
.content_tbl tr th {font-size:16px; line-height:26px; font-weight:600; color:#222222; padding:9px 5px;}
.content_tbl tr td {font-size:16px; line-height:26px; font-weight:400; color:#666666; padding:9px 5px 9px 52px;}
.content_tbl tr td span .under_txt {margin-left:16px;}

/* 약관 기능 사용하기 */
.terms_procedure li {display:inline-block; vertical-align:top; position:relative; margin:0 56px 40px 0;}
.terms_procedure li::before {position:absolute; top:70px; right:-42px; display:block; content:''; width:24px; height:24px; background:#fff url('../images/terms/ic_term_arrow.png') no-repeat;}
.terms_procedure li div {position:relative; width:164px; height:164px;  padding:20px; background:#000000 url('../images/terms/logo.png') right bottom no-repeat; border-radius:12px; }
.terms_procedure li:last-child {margin-right:0;}
.terms_procedure li:last-child::before {display:none;}
.terms_procedure li .mark {font-size:16px; color:#ffffff; font-weight:600;}
.terms_procedure li .mark::before {display:block; content:''; width:16px; height:16px; background:url('../resource/imagess/terms/ic_a.png') no-repeat;}
.terms_procedure li .stxt {font-size:14px; color:#b5b5b5; font-weight:400;}
.terms_procedure li div span.num {display:block; font-size:20px; font-weight:600; color:#393939; position:absolute; left:20px; bottom:16px;}
.terms_procedure li .tip {position:relative; margin-top:8px; padding-left:20px; font-size:12px; line-height:18px; color:#666666;}
.terms_procedure li .tip::before {display:block; content:''; width:4px; height:1px; background:#666666; position:absolute; top:9px; left:12px;}
.terms_procedure li .tip em {display:inline; font-size:12px; font-weight:600; color:#222222;}

/* 약관 상세보기 */
.term_info {padding:48px 60px 60px; background:#ffffff; border-radius:8px; box-shadow:2px 2px 8px 0 rgba(0, 0, 0, 0.15)}
.term_info div[class^="bx_"]::after {display:block; content:''; clear:both;}
.term_info div[class^="bx_"] .title_box {width:28%; float:left;}
.term_info div[class^="bx_"] .cnt_box {float:right; width:72%;}
.term_info div[class^="bx_"] .title_box p {font-size:24px; line-height:32px; font-weight:600;}
.term_info .bx_group .cnt_box::after {display:block; content:''; clear:both;}
.term_info .bx_group .cnt_box ul {display:inline-block; text-align:left;}
.term_info .bx_group .cnt_box ul li {font-size:16px; line-height:26px; color:#666666;}
.term_info .bx_basicin {border-top:1px solid #cfcfcf; padding-top:40px; margin-top:40px;}
.term_info .bx_basicin .title_box .under_txt {margin-top:16px;}
.term_info .bx_group .cnt_box .fl_btn {float:right;}
@media screen and (max-width:1420px) {
    .term_info div.bx_basicin .title_box {float:none; width:100%;}
    .term_info div.bx_basicin .cnt_box {float:none; width:100%; margin-top:20px;}
}

/* 단독 입력페이지 */
.regist_form {width:645px; margin:0 auto;}

/* 등록 테이블 */
.regist_table {}
.regist_table table {width:100%;}
.regist_table table th {padding:12px 0; vertical-align:top;}
.regist_table table th span { display:inline-block; min-height:48px; padding-top:12px;}
.regist_table table td {padding:12px 0;}
.regist_table table td .warning {padding:10px 0 0 10px;font-size:12px; color:#fc2a2a;}
.regist_table span.input {display:block; height:48px; padding:0 16px;}
.regist_table span.input + .input {margin-top:10px;}
.regist_table span.input input[type='text'] {width:100%; line-height:46px;}
.regist_table span.input input::placeholder {color:#999;}
.regist_table span.input input[type='file'] {display:none;}
.regist_table span.input select {height:48px; line-height: 46px;}
.regist_table span.input.txt {width:460px; padding:0 100px 0 16px; border:solid 1px #cfcfcf; border-radius:4px; position:relative;}
.regist_table span.input.txt .bytes {font-size:12px; color:#999; position:absolute; top:50%; right:16px; transform: translateY(-50%);font-family:'Roboto';}
.regist_table span.input.txt .filename {color:#999;}
.regist_table span.input.txt .filename.on {color:#222;}
.regist_table span.input.txt .file_btn {display:block; width:24px; height:24px; background:url('../images/common/ic_upload.png') no-repeat center center; text-indent:-9999px; position:absolute; top:calc(50% - 12px); right:16px; overflow:hidden;}
.regist_table span.input.sel {width:460px; padding:0 0; border:solid 1px #cfcfcf; border-radius:8px; position:relative;}
.regist_table span.input.direct_input {display:none;}
.regist_table span.input.direct_input.show {display:block;}
.regist_table .dateset {display:inline-block;}
.regist_table span.input.date {display:inline-block; width:140px; border:solid 1px #cfcfcf; border-radius:4px;}
.regist_table span.input.date + .date {margin-left:12px;}
.regist_table span.input.switch_btn {display:inline-block; padding:0; padding-top: 10px;}
.regist_table span.input.disabled {background:#e0e0e0;}
.regist_table span.input.disabled input {color:#bfbfbf;}
.regist_table span.input.disabled button:disabled {opacity: .3; cursor:default;}
.regist_table .appterm_tbl tbody td .stc {width:460px;}
.regist_table .appterm_tbl tbody td .stc .icon.arr {display:block; background:url('../images/common/ic_upper.png') no-repeat; margin:20px auto;}
.regist_table .appterm_tbl tbody td .moving_wrap li::after {display:block; content:''; clear:both;}
.regist_table .appterm_tbl tbody td .has_switch .input.txt  {width:364px;}
.regist_table span.input.txt button.btn {position:absolute; top:8px; right:16px; height:28px; font-size:12px; padding:0 12px; line-height:15px; min-width:46px;}
.regist_table .appterm_tbl .term_loca {display:inline-block; margin-left:8px; color:#1b6491; font-size:14px; line-height:21px; font-weight:600;}
.regist_table .appterm_tbl .pview {background:url('../images/common/ic_view.png') right center no-repeat; padding-right:26px;}
.regist_table .has_switch, .regist_table .switch_desc {position:relative; padding-left:96px;}
.regist_table .switch_desc {padding-left:68px;}
.regist_table .has_switch .switch_btn, .regist_table .switch_desc .switch_btn {position:absolute; top:12px; left:0;}
.regist_table .switch_desc {width: 460px; padding-top:5px;}
.tooltip_wrap {display:inline-block; margin-left:5px; vertical-align:middle; position:relative; top:-5px;}
.tooltip_wrap .tooltip {display:inline-block; font-size:9px; width:16px; height:16px; background:url('../images/common/ic_question.png') no-repeat; text-indent:-9999px; overflow:hidden;}
.tooltip_wrap .tipbox {display:none;position:absolute; top:25px; left:0; width:252px; padding:20px; background:#ffffff; border-radius:8px; box-shadow:2px 2px 8px 0 rgba(0,0,0,0.08); z-index:1;}
.tooltip_wrap .tipbox.open {display:block;}
.tooltip_wrap .tipbox p {font-size:14px; line-height:24px;}

/* 그룹설정 */
.popsub_tl {font-size:22px; line-height:33px; font-weight:600; color:#222222; padding-bottom:8px; border-bottom:1px solid #222222; margin-bottom:24px;}
.separate {margin-bottom:48px;}
.separate dl:nth-child(2) {margin-top:16px;}
.separate dl dt {display:inline-block; margin-right:68px; font-size:16px; line-height:24px; color:#222222; font-weight:600;}
.separate dl dd {display:inline-block; font-size:16px; line-height:24px; color:#666666; }

.group_check::after {display:block; content:''; clear:both;}
.group_check .group_srch {float:left; width:calc(50% - 10px);}
.group_check .group_choice {float:right; width:calc(50% - 10px); padding-left:10px;}
.group_check .group_choice ul {padding:10px 0;border-bottom:1px solid #cfcfcf;}

.group_srch {border:1px solid #cfcfcf; border-radius:5px; }
.group_srch .gsrch {display:block; position:relative;}
.group_srch .gsrch input {border:none; font-size:14px; width:100%; padding:14px 60px 14px 16px; background:none;}
.group_srch .gsrch .btn_sch {width:24px; height:24px; text-indent:-9999px; background:url('../images/terms/ic_search.png') no-repeat; position:absolute; top:10px; right:16px;}
.group_srch ul {border-top:1px solid #cfcfcf; height:242px; overflow:hidden; overflow-x:hidden; overflow-y:auto; padding:24px;}
.group_srch ul li {margin-top:20px;}
.group_srch ul li:first-child {margin-top:0;}

.group_choice ul {height:240px; overflow:hidden; overflow-x:hidden; overflow-y:scroll;}
.group_choice ul li {position:relative; display:inline-block; max-width:300px; margin-top:8px; background:#000000; padding:6px 48px 6px 16px; border-radius:20px;}
.group_choice ul li span {display:inline-block; max-width:250px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:#ffffff; font-size:14px; line-height:20px;}
.group_choice ul li:first-child {margin-top:0;}
.group_choice ul li .btn_del {position:absolute; top:8px; right:16px;}

/* 본문보기 */
.pop_con .pop_tbox {border:1px solid #cfcfcf; border-radius:5px; height:480px; overflow:hidden; overflow-x:hidden; overflow-y:scroll ;}
.pop_con .pop_tbox div {padding:24px 32px;}
.pop_con .con_bottom::after {display:block; content:''; clear:both;}
.pop_con .con_bottom {margin-top:16px;}
.pop_con .con_bottom .htmldown {display:block; float:right; font-size:16px; font-weight:500; padding-left:32px; background:url('../images/terms/ic_download.png') left center no-repeat;}

/* 미리보기 */
.mobile_box {width:360px; height:640px; border:6px solid #b5b5b5; border-radius:10px; margin:0 auto;}
.mobile_box .btn_wrap {margin-top:40px;}
.mobile_box .btn_wrap .check {text-align:left; margin-bottom:20px;}
.mo_logo {padding:12px 0; border-bottom:1px solid #eeeeee;}
.mo_logo div {text-indent:-9999px; width:106px; height:100%; background:url('../images/terms/nugu_logo.png') no-repeat; margin:0 auto;}
.mo_inner {width:346px; height:calc(100% - 50px); padding:40px 18px 24px; overflow: auto;}
.mo_inner::-webkit-scrollbar {width:3px; background-color: #ddd; border-radius: 2px;}
.mo_inner::-webkit-scrollbar-thumb {background: #999; border-radius: 2px;}
.pmo_tl {font-size:24px; line-height:36px; font-weight:600; margin-bottom:20px;}
.mcontent {font-size:16px; line-height:26px; color:#222222; margin-top:20px;}
.mo_inner ul {margin-top:20px;  padding:20px 0; border-top:1px solid #cfcfcf; border-bottom:1px solid #cfcfcf;}
.mo_inner ul li {margin-top:12px;}
.mo_inner ul li:first-child {margin-top:0;}
.mo_inner ul li a {display:block; background:url('../images/terms/ic_arrow_s.png') right center no-repeat;}
.mo_inner .desc {font-size:14px; line-height:22px; color:#666666; margin-top:32px;}
.pop_con {position:relative;}
.pop_con .btn_next { text-align:center; border-radius:12px; padding:12px 0; font-weight:500; font-size:16px;}
.pop_con .btn_wrap .btn_next + .btn {margin-left:6px;}
.pop_con .pop_preview {font-size:16px; position:absolute; bottom:62px; right:40px;}
.pview_arrow {background:url('../images/common/ic_pvarrow.png') no-repeat; margin-right:4px;}
.pcprev_box .mo_inner {width:100%; padding:20px 0 40px 0; border-bottom:1px solid #cfcfcf;}
.pcprev_box .mo_inner ul {}
.pcprev_box .mo_inner .btn_wrap .check {margin-bottom:24px;}

/* 개별약관편집 */
.txt_reagree {display:inline-block; margin-left:33px;}
.txt_reagree span.tit {display:inline-block; font-size:16px; line-height:24px;}
.txt_reagree .switch_btn {margin-left:12px;}
.txt_reagree .tooltip_wrap {top:-3px;}
.regist_table span.input.date {position:relative; padding-right:35px;}
.btn_date {text-indent:-9999px; background:url('../images/common/ic_sorting.png') no-repeat; position:absolute; top:15px; right:15px;}

/* 그룹목록 상세 */

.myapp_search {display:block; margin:0 auto 80px; width:460px; position:relative; padding-bottom:12px; border-bottom:4px solid #000000;}
.myapp_search .btn_sch {background:url('../images/common/ic_search_L.png') no-repeat; width:28px; height:28px; position:absolute; right:0;}
.myapp_search input {width:100%; padding-right:35px; font-size:20px;}
.myapp_search input::placeholder {color:#bfbfbf; font-weight:350;}

/* 그룹설정 */
.regist_table .code_connect {width:364px; }
.code_connect li {padding:20px 28px; margin-top:10px; border:solid 1px #cfcfcf; border-radius:4px;position:relative;}
.code_connect dl {width:calc(100% - 100px);}
.code_connect dt, .code_connect dd{ display:inline-block; font-size:14px; color:#222; vertical-align:top;}
.code_connect dt {width:40px; display:inline-block;}
.code_connect dt::after {content:'';display: inline-block; width:1px;height:10px; margin-left:8px; background-color:#aaa;}
.code_connect dd {width:calc(100% - 50px); font-weight:600;}
.code_connect .tstate {font-size:14px; position:absolute; top:20px; right:28px;}
.code_connect .mfont {margin-top:3px;}

/* 내앱목록 */
.app_list {padding-top:32px; border-top:2px solid #222222;}
.app_list ul.card_type > li {display:inline-block; width:calc(33.3% - 14px); vertical-align:top; margin:0 5px 20px;}
.app_list .noterms {margin-top:30px;}
.app_part {display:inline-block; padding:32px 32px 24px; width:100%; height:192px; box-shadow:2px 2px 8px 0 rgba(0,0,0,0.08); border-radius:8px;}
.app_part .app_img {display:inline-block; width:60px; height:60px; vertical-align:top; border-radius:8px; box-shadow:2px 2px 8px rgba(0,0,0,0.2); overflow:hidden;}
.app_part .app_img img {display:block; width:100%;}
.app_part .app_img.noimg {background:#f1f1f1 url('../images/common/ic_device.png') center center no-repeat; text-indent:-9999px; overflow:hidden; }
.app_part .app_namebox {display:inline-block; position:relative; width:calc(100% - 80px); vertical-align:top; margin-left:16px;}
.app_part .app_namebox .app_name {font-size:24px; line-height:30px; font-weight:600; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.app_part .app_namebox dl {display:inline-block; margin-top:4px; font-size:16px; line-height:26px;}
.app_part .app_namebox dl dt {position:relative; display:inline-block; padding-right:10px; margin-right:6px;}
.app_part .app_namebox dl dt::before {position:absolute; top:9px; right:0; display:inline-block; content:''; width:1px; height:10px; background:#aaaaaa;}
.app_part .app_namebox dl dd {display:inline-block; font-weight:600;}
.app_part .app_namebox .auth {display:inline-block; font-size:16px; line-height:26px; color:#bfbfbf; font-weight:600; position:absolute; bottom:-2px; right:0;}
.app_part .app_progress {padding-top:20px; margin-top:30px; border-top:1px solid #cfcfcf;}
.app_part .app_progress::after {display:block; content:''; clear:both;}
.app_part .appresi {font-size:14px; color:#bfbfbf; text-align:center; background:url('../images/common/ic_add.png')center center no-repeat; padding-top:50px; transform:translateY(50%); margin-top:-15px;}
.progress {display:inline-block; font-size:14px; line-height:24px; padding-left:27px;}
.progress.pro_dev {color:#bfbfbf; background:url('../images/common/ic_pro_dev.png') left center no-repeat;}
.progress.pro_use {color:#1485cb; background:url('../images/common/ic_pro_use.png') left center no-repeat;}
.progress.pro_app {color:#222222; background:url('../images/common/ic_pro_app.png') left center no-repeat;}
@media screen and (max-width:1023px){
    .app_list ul.card_type > li {width:calc(50% - 14px);}

}

/* 기본설정 */
.gtit {font-size:16px; color:#666;}
.guide_txt {margin:26px 0 60px;}
.guide_txt li {font-size:14px; color:#666; padding-left:24px;}
.guide_txt li span {color:#1485cb;}
.guide_txt li:first-child {background:url('../images/common/ic_play.png') left center  no-repeat;}
.guide_txt li:nth-child(2) {margin-top:8px; background:url('../images/common/ic_question.png') left center no-repeat;}
.play_view {display:block;}

/* 이미지 업로드 */
#img_view {display:inline-block; width:96px; height:96px; background:#f1f1f1;}
#img_view img {display:block; width:100%; height:100%;}
.view_txt {display:inline-block; vertical-align:top;}

/*  */
